{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block main %}
<h1 class="display-4">Make your predictions &nbsp & &nbsp See how you rank</h1>
<br>
<table class="table">
    <thead>
        <th scope="col">Username</th>
        <th scope="col">Score</th>
        <th scope="col">Rank</th>
    </thead>
    <tbody>
        {% for s in submissions %}
        <tr>
            <td>{{ s.author.username }}</td>
            <td>{{ s.score }}</td>
            <td>{{ s.rank }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
