{% extends "layout.html" %}

{% block title %}
    Predict
{% endblock %}

{% block main %}

<form action="/predict" method="post">

    <!--Question 1-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">1. Will Daenerys Targaryen be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q1" id="q1yes" value="yes">
                  <label class="form-check-label" for="q1yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q1" id="q1no" value="no">
                  <label class="form-check-label" for="q1no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 2-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">2. Will Jon Snow be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q2" id="q2yes" value="yes">
                  <label class="form-check-label" for="q2yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q2" id="q2no" value="no">
                  <label class="form-check-label" for="q2no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 3-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">3. Will Tyrion Lannister be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q3" id="q3yes" value="yes">
                  <label class="form-check-label" for="q3yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q3" id="q3no" value="no">
                  <label class="form-check-label" for="q3no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 4-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">4. Will Jamie Lannister be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q4" id="q4yes" value="yes">
                  <label class="form-check-label" for="q4yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q4" id="q4no" value="no">
                  <label class="form-check-label" for="q4no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 5-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">5. Will Cersei Lannister be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q5" id="q5yes" value="yes">
                  <label class="form-check-label" for="q5yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q5" id="q5no" value="no">
                  <label class="form-check-label" for="q5no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 6-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">6. Will Sansa Stark be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q6" id="q6yes" value="yes">
                  <label class="form-check-label" for="q6yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q6" id="q6no" value="no">
                  <label class="form-check-label" for="q6no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 7-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">7. Will Arya Stark be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q7" id="q7yes" value="yes">
                  <label class="form-check-label" for="q7yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q7" id="q7no" value="no">
                  <label class="form-check-label" for="q7no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 8-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">8. Will Brandon Stark be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q8" id="q8yes" value="yes">
                  <label class="form-check-label" for="q8yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q8" id="q8no" value="no">
                  <label class="form-check-label" for="q8no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 9-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">9. Will the Hound be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q9" id="q9yes" value="yes">
                  <label class="form-check-label" for="q9yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q9" id="q9no" value="no">
                  <label class="form-check-label" for="q9no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 10-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">10. Will Theon Greyjoy be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q10" id="q10yes" value="yes">
                  <label class="form-check-label" for="q10yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q10" id="q10no" value="no">
                  <label class="form-check-label" for="q10no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 11-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">11. Will Jorah Mormant be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q11" id="q11yes" value="yes">
                  <label class="form-check-label" for="q11yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q11" id="q11no" value="no">
                  <label class="form-check-label" for="q11no">No</label>
                </div>
            </div>
        </div>
    </fieldset>


    <!--Question 12-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">12. Will Brienne Tarth be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q12" id="q12yes" value="yes">
                  <label class="form-check-label" for="q12yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q12" id="q12no" value="no">
                  <label class="form-check-label" for="q12no">No</label>
                </div>
            </div>
        </div>
    </fieldset>


    <!--Question 13-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">13. Will Davos Seaworth be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q13" id="q13yes" value="yes">
                  <label class="form-check-label" for="q13yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q13" id="q13no" value="no">
                  <label class="form-check-label" for="q13no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 14-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">14. Will Varys be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q14" id="q14yes" value="yes">
                  <label class="form-check-label" for="q14yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q14" id="q14no" value="no">
                  <label class="form-check-label" for="q14no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 15-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">15. Will Melisandre be alive at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q15" id="q15yes" value="yes">
                  <label class="form-check-label" for="q15yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q15" id="q15no" value="no">
                  <label class="form-check-label" for="q15no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 16-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">16. Who is Azor Ahai?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q16" id="q16daenerys" value="daenerys">
                  <label class="form-check-label" for="q16daenerys">Daenerys</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q16" id="q16jon" value="jon">
                  <label class="form-check-label" for="q16jon">Jon</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q16" id="q16jamie" value="jamie">
                  <label class="form-check-label" for="q16jamie">Jamie</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q16" id="q16beric" value="beric">
                  <label class="form-check-label" for="q16beric">Beric</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q16" id="q16unresolved" value="unresolved">
                  <label class="form-check-label" for="q16unresolved">Unresolved</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 17-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">17. Who will sit on the Iron Throne at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q17" id="q17daenerys" value="daenerys">
                  <label class="form-check-label" for="q17daenerys">Daenerys</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q17" id="q17jon" value="jon">
                  <label class="form-check-label" for="q17jon">Jon</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q17" id="q17gendry" value="gendry">
                  <label class="form-check-label" for="q17gendry">Gendry</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q17" id="q17cersei" value="cersei">
                  <label class="form-check-label" for="q17cersei">Cersei</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q17" id="q17other" value="other">
                  <label class="form-check-label" for="q17other">Other</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 18-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">18. Who will kill Cersei?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q18" id="q18jamie" value="jamie">
                  <label class="form-check-label" for="q18jamie">Jamie</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q18" id="q18tyrion" value="tyrion">
                  <label class="form-check-label" for="q18tyrion">Tyrion</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q18" id="q18arya" value="arya">
                  <label class="form-check-label" for="q18arya">Arya</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q18" id="q18other" value="other">
                  <label class="form-check-label" for="q18other">Other</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q18" id="q18lives" value="lives">
                  <label class="form-check-label" for="q18lives">Cersei Lives</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 19-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">19. Who will Brienne hook up with?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q19" id="q19jamie" value="jamie">
                  <label class="form-check-label" for="q19jamie">Jamie</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q19" id="q19tormund" value="tormund">
                  <label class="form-check-label" for="q19tormund">Tormund</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q19" id="q19pod" value="pod">
                  <label class="form-check-label" for="q19pod">Pod</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q19" id="q19nobody" value="nobody">
                  <label class="form-check-label" for="q19nobody">Nobody</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 20-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">20. Will Arya and Gendry hook up?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q20" id="q20yes" value="yes">
                  <label class="form-check-label" for="q20yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q20" id="q20no" value="no">
                  <label class="form-check-label" for="q20no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 21-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">21. Who will Sansa hook up with?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q21" id="q21tyrion" value="tyrion">
                  <label class="form-check-label" for="q21tyrion">Tyrion</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q21" id="q21gendry" value="gendry">
                  <label class="form-check-label" for="q21gendry">Gendry</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q21" id="q21hound" value="hound">
                  <label class="form-check-label" for="q21hound">Hound</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q21" id="q21robin" value="robin">
                  <label class="form-check-label" for="q21robin">Robin Arryn</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q21" id="q21nobody" value="nobody">
                  <label class="form-check-label" for="q21nobody">Nobody</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 22-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">22. Who will become a dragonrider?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q22" id="q22jon" value="jon">
                  <label class="form-check-label" for="q22jon">Jon</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q22" id="q22tyrion" value="tyrion">
                  <label class="form-check-label" for="q22tyrion">Tyrion</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q22" id="q22bran" value="bran">
                  <label class="form-check-label" for="q22bran">Bran</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q22" id="q22arya" value="arya">
                  <label class="form-check-label" for="q22arya">Arya</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q22" id="q22sam" value="sam">
                  <label class="form-check-label" for="q22sam">Sam</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 23-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">23. Will there be a Cleganebowl?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q23" id="q23yes" value="yes">
                  <label class="form-check-label" for="q23yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q23" id="q23no" value="no">
                  <label class="form-check-label" for="q23no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 24-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">24. If there is a Cleganebowl, who will win?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q24" id="q24hound" value="hound">
                  <label class="form-check-label" for="q24hound">The Hound</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q24" id="q24mountain" value="mountain">
                  <label class="form-check-label" for="q24mountain">The Mountain</label>
                </div>
            </div>
        </div>
    </fieldset>


    <!--Question 25-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">25. Is Tyrion a secret Targaryen?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q25" id="q25yes" value="yes">
                  <label class="form-check-label" for="q25yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q25" id="q25no" value="no">
                  <label class="form-check-label" for="q25no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 26-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">26. Will Jon and Daenerys still be together at the end of the show?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q26" id="q26yes" value="yes">
                  <label class="form-check-label" for="q26yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q26" id="q26no" value="no">
                  <label class="form-check-label" for="q26no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 27-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">27. Is Bran the Night King?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q27" id="q27yes" value="yes">
                  <label class="form-check-label" for="q27yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q27" id="q27no" value="no">
                  <label class="form-check-label" for="q27no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 28-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">28. Will Sam write a book named A Song of Ice and Fire?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q28" id="q28yes" value="yes">
                  <label class="form-check-label" for="q28yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q28" id="q28no" value="no">
                  <label class="form-check-label" for="q28no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 29-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">29. Will Cersei give birth to a baby?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q29" id="q29yes" value="yes">
                  <label class="form-check-label" for="q29yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q29" id="q29no" value="no">
                  <label class="form-check-label" for="q29no">No</label>
                </div>
            </div>
        </div>
    </fieldset>

    <!--Question 30-->
    <fieldset class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <legend class="col-form-label col-md-6 pt-0 text-left">30. Will Daenerys give birth to a living, healthy, human baby?</legend>
            <div class="col-md-4">
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q30" id="q30yes" value="yes">
                  <label class="form-check-label" for="q30yes">Yes</label>
                </div>
                <div class="form-check form-check-inline float-md-left">
                  <input class="form-check-input" type="radio" name="q30" id="q30no" value="no">
                  <label class="form-check-label" for="q30no">No</label>
                </div>
            </div>
        </div>
    </fieldset>


  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>


{% endblock %}
