{% extends "layout.html" %}

{% block title %}
    Rules
{% endblock %}

{% block main %}
<h1>Rules</h1>
<br>
<div style="height:450px">
<ul class="text-left">
    <li>Look into the flames and make your predictions for what will happen in Game of Thrones Season 8</li>
    <li>You only get one set of predictions</li>
    <li>Scores are updated after each episode</li>
    <li>Rankings are based on the scores below</li>
    <li>0 - 19 = Stonemen</li>
    <li>20 - 29 = Unsullied</li>
    <li>30 - 39 = Ironborn</li>
    <li>40 - 49 = Night's Watch</li>
    <li>50 - 59 = Maester</li>
    <li>60 - 65 = Children of the Forest</li>
    <li>66 = Warg</li>
    <li>67 = Greenseer</li>
    <li>68 = One-Eyed Raven</li>
    <li>69 = Two-Eyed Raven</li>
    <li>70 = Three-Eyed Raven</li>
    <li>"Alive" does not include being a wight or whitewalker</li>
    <li>"Hooking up" means kissing and / or more</li>
    <li>"Cleganebowl" means a fight between the Hound and the Mountain</li>
    <li>Thank you George R.R. Martin, David Benioff, and D.B. Weiss for sharing this rich and beautiful story with the world</li>
</ul>
</div>
{% endblock %}
