{% extends "layout.html" %}

{% block title %}
    Rules
{% endblock %}

{% block main %}
<h1>Rules</h1>
<br>
<div style="height:450px">
<ul class="text-left">
    <li>Look into the flames and make your predictions for what will happen in Game of Thrones Season 8</li>
    <li>You only get one set of predictions and you have to make predictions before Episode 1 airs</li>
    <li>Scores are updated after each episode</li>
    <li>Point values for each questions are listed after each question</li>
    <li>Rankings are based on the scores below:</li>
    <li style="margin-left:20px">0 - 19 = Stonemen</li>
    <li style="margin-left:20px">20 - 29 = Wildlings</li>
    <li style="margin-left:20px">30 - 39 = Ironborn</li>
    <li style="margin-left:20px">40 - 49 = Night's Watch</li>
    <li style="margin-left:20px">50 - 59 = Maester</li>
    <li style="margin-left:20px">60 - 65 = Children of the Forest</li>
    <li style="margin-left:20px">66 = Warg</li>
    <li style="margin-left:20px">67 = Greenseer</li>
    <li style="margin-left:20px">68 = One-Eyed Raven</li>
    <li style="margin-left:20px">69 = Two-Eyed Raven</li>
    <li style="margin-left:20px">70 = Three-Eyed Raven</li>
    <li>"Alive" does not include being a wight or whitewalker</li>
    <li>"Hooking up" means kissing and / or more</li>
    <li>"Cleganebowl" means a fight between the Hound and the Mountain</li>
    <li>Thank you George R.R. Martin, David Benioff, and D.B. Weiss for sharing this rich and beautiful story with the world</li>
</ul>
</div>
{% endblock %}
