{% extends "layout.html" %}

{% block title %}
    Scores
{% endblock %}

{% block main %}

<h1>{{ author.username }}'s score is {{ score }}</h1>
<br>

<form class="form-inline" action="/scores" method="post">
    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Username" name="username">
    <button type="submit" class="btn btn-primary mb-2">Check Score</button>
</form>

<table class="table">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Question</th>
        <th scope="col">Prediction</th>
        <th scope="col">Correct Answer</th>
        <th scope="col">Points</th>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Will Daenerys Targaryen be alive at the end of the show?</td>
            <td>{{ response.q1 }}</td>
            <td></td>
            <td>{{ points[0] }}</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Will Jon Snow be alive at the end of the show?</td>
            <td>{{ response.q2 }}</td>
            <td></td>
            <td>{{ points[1] }}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Will Tyrion Lannister be alive at the end of the show?</td>
            <td>{{ response.q3 }}</td>
            <td></td>
            <td>{{ points[2] }}</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Will Jaime Lannister be alive at the end of the show?</td>
            <td>{{ response.q4 }}</td>
            <td></td>
            <td>{{ points[3] }}</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Will Cersei Lannister be alive at the end of the show?</td>
            <td>{{ response.q5 }}</td>
            <td></td>
            <td>{{ points[4] }}</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Will Sansa Stark be alive at the end of the show?</td>
            <td>{{ response.q6 }}</td>
            <td></td>
            <td>{{ points[5] }}</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Will Arya Stark be alive at the end of the show?</td>
            <td>{{ response.q7 }}</td>
            <td></td>
            <td>{{ points[6] }}</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Will Brandon Stark be alive at the end of the show?</td>
            <td>{{ response.q8 }}</td>
            <td></td>
            <td>{{ points[7] }}</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Will the Hound be alive at the end of the show?</td>
            <td>{{ response.q9 }}</td>
            <td></td>
            <td>{{ points[8] }}</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>Will Theon Greyjoy be alive at the end of the show?</td>
            <td>{{ response.q10 }}</td>
            <td></td>
            <td>{{ points[9] }}</td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>Will Jorah Mormont be alive at the end of the show?</td>
            <td>{{ response.q11 }}</td>
            <td></td>
            <td>{{ points[10] }}</td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>Will Brienne Tarth be alive at the end of the show?</td>
            <td>{{ response.q12 }}</td>
            <td></td>
            <td>{{ points[11] }}</td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>Will Davos Seaworth be alive at the end of the show?</td>
            <td>{{ response.q13 }}</td>
            <td></td>
            <td>{{ points[12] }}</td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>Will Varys be alive at the end of the show?</td>
            <td>{{ response.q14 }}</td>
            <td></td>
            <td>{{ points[13] }}</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td>Will Melisandre be alive at the end of the show?</td>
            <td>{{ response.q15 }}</td>
            <td></td>
            <td>{{ points[14] }}</td>
        </tr>
        <tr>
            <th scope="row">16</th>
            <td>Who is Azor Ahai?</td>
            <td>{{ response.q16 }}</td>
            <td></td>
            <td>{{ points[15] }}</td>
        </tr>
        <tr>
            <th scope="row">17</th>
            <td>Who will sit on the Iron Throne at the end of the show?</td>
            <td>{{ response.q17 }}</td>
            <td></td>
            <td>{{ points[16] }}</td>
        </tr>
        <tr>
            <th scope="row">18</th>
            <td>Who will kill Cersei?</td>
            <td>{{ response.q18 }}</td>
            <td></td>
            <td>{{ points[17] }}</td>
        </tr>
        <tr>
            <th scope="row">19</th>
            <td>Who will Brienne hook up with?</td>
            <td>{{ response.q19 }}</td>
            <td></td>
            <td>{{ points[18] }}</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td>Will Arya and Gendry hook up?</td>
            <td>{{ response.q20 }}</td>
            <td></td>
            <td>{{ points[19] }}</td>
        </tr>
        <tr>
            <th scope="row">21</th>
            <td>Who will Sansa hook up with?</td>
            <td>{{ response.q21 }}</td>
            <td></td>
            <td>{{ points[20] }}</td>
        </tr>
        <tr>
            <th scope="row">22</th>
            <td>Who will become a dragonrider?</td>
            <td>{{ response.q22 }}</td>
            <td></td>
            <td>{{ points[21] }}</td>
        </tr>
        <tr>
            <th scope="row">23</th>
            <td>Will there be a Cleganebowl?</td>
            <td>{{ response.q23 }}</td>
            <td></td>
            <td>{{ points[22] }}</td>
        </tr>
        <tr>
            <th scope="row">24</th>
            <td>If there is a Cleganebowl, who will win?</td>
            <td>{{ response.q24 }}</td>
            <td></td>
            <td>{{ points[23] }}</td>
        </tr>
        <tr>
            <th scope="row">25</th>
            <td>Is Tyrion a secret Targaryen?</td>
            <td>{{ response.q25 }}</td>
            <td></td>
            <td>{{ points[24] }}</td>
        </tr>
        <tr>
            <th scope="row">26</th>
            <td>Will Jon and Daenerys still be together at the end of the show?</td>
            <td>{{ response.q26 }}</td>
            <td></td>
            <td>{{ points[25] }}</td>
        </tr>
        <tr>
            <th scope="row">27</th>
            <td>Is Bran the Night King?</td>
            <td>{{ response.q27 }}</td>
            <td></td>
            <td>{{ points[26] }}</td>
        </tr>
        <tr>
            <th scope="row">28</th>
            <td>Will Sam write A Song of Ice and Fire?</td>
            <td>{{ response.q28 }}</td>
            <td></td>
            <td>{{ points[27] }}</td>
        </tr>
        <tr>
            <th scope="row">29</th>
            <td>Will Cersei give birth to a baby?</td>
            <td>{{ response.q29 }}</td>
            <td></td>
            <td>{{ points[28] }}</td>
        </tr>
        <tr>
            <th scope="row">30</th>
            <td>Will Daenerys give birth to a living, healthy, human baby?</td>
            <td>{{ response.q30 }}</td>
            <td></td>
            <td>{{ points[29] }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
